/* Style sheet for resume homework (resume.html) in Week 1 folder */
body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
    padding: 8px 0px;
}

.resume-section {
    background-color: rgb(244, 244, 244);
    width: 600px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

#pfp {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#resume-header {
    margin: 20px;
    width: 380px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}