* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  /* IMAGE STYLING */
  /* Default: all image tags are hidden  */ 
  img,
  .hidden {
    display: none;
  }
  
  /* Syntax: every img tag that contains a src attribute should display */
  img[src] {
    display: block;
  }

  
  
  #main-container {
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87b7ff;
  }
  
  #weather-container {
    height: 60%;
    width: 90%;
  }
  
  #side-container {
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #search-input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  
  #search-button {
    padding: 10px;
    background-color: #0075ff;
    color: #ffffff;
    border-radius: 5px;
    border-width: 1px;
  }

  #today-weather-container {
    display: flex;
    flex-direction: row;
  }

  #week-container {
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  
  .day-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    padding: 10px;
    width: 140px;
    height: 170px;
    justify-content: space-around;
  }

  .day-date {
    font-size: 14px;
    font-weight: bold;
  }

  .day-temps {
    font-size: 20px;
    font-weight: bold;
  }
  
  .search-result:hover {
    font-weight: bold;
    cursor: pointer;
  }
  